<ion-toolbar>
  <ion-title>Change Password</ion-title>
</ion-toolbar>
<div class="text-center">
  <ion-note color="primary">
    You will be redirected to Login after successful Password Change
  </ion-note>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <ion-item lines="full">
    <ion-label position="floating">Old Password</ion-label>
    <ion-input
      formControlName="oldPassword"
      type="password"
      required
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">New Password</ion-label>
    <ion-input
      formControlName="newPassword"
      type="password"
      required
    ></ion-input>
  </ion-item>
  <div class="spaced-button">
    <ion-button slot="start" fill="clear" (click)="cancel()">Cancel</ion-button>
    <ion-button
      slot="end"
      type="submit"
      strong="true"
      [disabled]="changePasswordForm.invalid"
    >
      Confirm
    </ion-button>
  </div>
</form>
<ion-item lines="none">
  <ion-text color="danger">{{ errorMessage }}</ion-text>
</ion-item>
